    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
            <li><a href="../navbar-fixed-top/">Fixed top</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
    
  <table class="table"> 
    <caption>Optional table caption.</caption> 
    <thead> 
      <tr>
          <th>#</th>
          <th>Name</th>
          <th>Intro</th>
          <th>Price</th>
          <th>Cart</th> 
      </tr> 
    </thead>
      <tbody> 
        <% @product.each do |product|%>
        <tr> 
          <th scope="row"><%=product.id%></th> 
          <td><%=product.name%></td>
          <td><%=product.intro%></td>
          <td><%=product.price%></td>
          <td><button class="btn btn-danger" data-id="<%=product.id%>">cart</button></td> 
        </tr> 
        <%end%>
      </tbody> 
    </table>
  </div> <!-- /container -->


<script>
  $('.btn').on('click',function(){
    $.ajax({
      method:'post',
      url: 'carts/add_session',
      data: {
        id: $(this).data('id')
      }
    });
  });
</script>
